@charset "utf-8";

/* Header Area */
.header{}

.header .top_util{grid-column: 8 / 13;}
.header .top_util .contact{}
.header .top_util .contact li{float: left;}

.header{grid-column: 1 / 13;}
.header .logo{grid-column: 1 / 3;width: 156px;height: 102px;background-color: #fff;text-align: center;}
.header .logo a{display: block;overflow: hidden}
.header .logo img{width: 156px;height: 102px;}

.header .gnb{grid-column: 3 / 10;}
.header .gnb ul{line-height: 102px;}
.header .gnb .depth1{position: relative;float: left;width: calc(100% / 3);padding: 0 20px;}
.header .gnb .depth1 a{display: inline-block;height: 45px;line-height: 45px;font-size: 2rem;font-weight: 500;}
.header .gnb .depth1 ul{overflow: hidden;display: none;}
.header .gnb .depth2 a{display: block;font-size: 1.8rem;font-weight: 400;line-height: 1.4;padding: 6px 0;}

.header .util{grid-column: 10 / 12;}
.header .util ul li{float: left;}


/* Main_visual Area */
.main_visual{width: 100%;height: 600px;overflow: hidden;}
.main_visual .roll01{background: url(/theme/IGC_Academy/img/main_visual.png)no-repeat;background-size: cover;height: 600px;}
.main_visual .roll02{background-color: bisque;}
.main_visual .roll_wrap{grid-column: 1 / 13;}

/* main_LMS Area */
.main_LMS{height: auto;}
.main_LMS ul li{grid-column: span 3;text-align: center;}
.main_LMS ul li h5{padding: 2rem 0;}

/* main_service Area */
.main_service{background-color: #f6f7fb;height: auto;}
.main_service .con_tit .btn_all{display: block;width: 286px;height: 50px;line-height:50px;background-color: #3191e8;border-radius: 4px;color: #fff;text-align: center;margin: 0 auto 3rem;}
.main_service .con_img, .con_txt{grid-column: span 6;margin: 3rem 0 0 ;}

.main_service .con_img{border-radius: 4px;box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.27);overflow: hidden;}
.main_service .con_img.right{grid-column: 7 / 13;grid-row: 2 / 3;}

.main_service .con_txt{display: table;padding: 0 0 0 3rem;position: relative}
.main_service .con_txt::before{content: "";display: block;width: 1px;height: 48%;background: #bebebe;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.main_service .con_txt.right{position: relative;text-align: right;padding: 0 3rem 0 0;}
.main_service .con_txt.right::before{content: "";display: block;width: 1px;height: 48%;background: #bebebe;position: absolute;left: 100%;top: 50%;transform: translateY(-50%);}
.main_service .con_txt .txt_wrap{display: table-cell;vertical-align: middle;}
.main_service .con_txt .txt_wrap p{margin: 2rem 0 4rem;}
.main_service .con_txt .txt_wrap .btn_curri{position: relative;color: #3191e8;}
.main_service .con_txt .txt_wrap .btn_curri::before{content: "";display: block;width: 8px;height: 8px;border-bottom: 1px solid #3191e8;border-right: 1px solid #3191e8;position: absolute;right: -10px;top: 7px;transform: rotate(-45deg)}
.main_service .con_txt.right .txt_wrap .btn_curri{padding: 0 1.4rem 0 0;}
.main_service .con_txt.right .txt_wrap .btn_curri::before{right: 4px}

/* main_about Area */
.main_about{background-color: #fff;height: auto;}
.main_about .con_tit h3{margin: 0 0 6rem;}
.main_about ul li{grid-column: span 4;}
.main_about ul li .con_img{display: block;margin: 4rem 0}
.main_about ul li p{text-align: justify;}

/* main_forum Area */
.main_forum{background-color: #efeff0;height: auto;}
.main_forum .con_tit h3{margin: 0 0 6rem;}
.main_forum .con_wrap{width: 100%;max-width: 1350px;margin: 0 auto;position: relative;}
.main_forum .con_wrap li{float: left;width: calc(100% / 5 - 30px);margin: 0 15px;background-color: #fff;text-align: center;}
.main_forum .con_wrap li .icon_box{width: 100px;height: 100px;background-color: #419aea;border-radius: 50%;margin: 40px auto;}
.main_forum .con_wrap li .icon_box span{line-height: 100px;color: #fff;}